body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}


.header {
  background-color: #1f2937;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header div a {
  text-decoration: none;
  color: #fff;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  flex: 1;
  margin-left: 250px;
}

.header .links {
  margin-right: 250px;
  display: flex;
  gap: 15px;
}

.container {
  background-color: #1f2937;
  display: flex;
  flex: 1;
  align-items: end;
  padding-top: 75px;
  padding-bottom: 75px;
}

.container .left {
  flex: 1;
  margin-left: 250px;
}

.container .right {
  margin-right: 250px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

img {
  max-width: 300px;

}

.container .left .title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

.container .left .info {
  font-size: 18px;
  color: #E5E7EB;
}

.container button {
  background-color: #3882F6;
  color: #fff;
  padding: 10px 40px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  border-color: #3882F6;
}

